Week2/controversial-comments.jsonl
Week3/stockpile2.py
Week5/articles1.csv
Week5/articles1.csv
Week5/Hypothesis Case Study Instructions_.docx
Week5/Week 5__10_1_10_2 Sample Code.docx
Week5/Week 5__9.1_9.4 Sample Code.docx
Week6/Prob 11_1 Sample Code.docx
Week6/Prob 11_2 Sample Code.docx
Week6/Prob 11_8 Sample Code.docx
Week6/Titanic Project Tutorial Part 1 Instructions_.docx
Week6/Titanic Tutorial Part 1 - SampleCode_.docx
Week5/articles1.csv
Week5/Hypothesis Case Study Instructions_.docx
Week5/Week 5__10_1_10_2 Sample Code.docx
Week5/Week 5__9.1_9.4 Sample Code.docx
Week6/Prob 11_1 Sample Code.docx
Week6/Prob 11_2 Sample Code.docx
Week6/Prob 11_8 Sample Code.docx
Week6/Titanic Tutorial Part 1 - SampleCode_.docx
Week6/Titanic Project Tutorial Part 1 Instructions_.docx
Week5/Hypothesis Case Study Instructions_.docx
Week5/articles1.csv
Week7/12_7 LR for Eval Perform Sample Code.docx
Week7/~$tanic Tutorial Part 2 Sample Code_.docx
Week7/13_5 Lasso Regression Sample Code.docx
Week7/14_5 Random Forest Regressor Sample Code.docx
Week7/LR with L1_L2 Regularization and Accuracy Sample Code.docx
Week7/Titanic Project Tutorial Part 2 Instructions_.docx
Week7/Titanic Tutorial Part 2 Sample Code_.docx
Week8/16_LogicalRegression with L1_L2 Regularization and Accuracy Sample Code.docx
Week8/17_1 Linear Classification Sample Code.docx
Week8/18_3 Naive Bayes Classifier for Binary Features.docx
Week8/Titanic Project Tutorial Part 3 Instructions.docx
Week8/Titanic Tutorial Part 3 Sample Code_.docx
Week9_10/categorized-comments.jsonl
